@import 'base/_index';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica-neue', 'Arial', sans-serif;
  font-size: $font-size;
  background-color: #000;
  color: #FF0;
}

.image-groups {
  display: flex;
  flex-wrap: wrap;
}

.image-group {
  flex: 0 0 50%;
  position: relative;
  max-width: 50%;
  overflow: hidden; 
  
  &_title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
  }
  
  canvas, video {
    width: 100%;
    transform: scale(-1) rotateX(180deg);
    background-color: pink;
  }
}