@import 'base/normalize';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica-neue', 'Arial', sans-serif;
  background-color: black;
  color: #FF0;
  overflow: hidden;
}

// .image-groups {
//   display: flex;
//   flex-wrap: wrap;
// }

// .image-group {
//   // flex: 0 0 50%;
//   // position: relative;
//   // max-width: 50%;
//   overflow: hidden;

//   &--input {
//     display: none;
//   }
  
//   &_title {
//     display: none;
//   }
// }

.output-container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vw;
  width: 100vh;
  transform: translate(-50%, -50%) rotate(90deg);
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(-1) rotateX(180deg);
}

.controls {
  &_container {
    display: none;
    padding: 1rem;
  }

  &-group {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;

    &_title {
      padding: .5rem .75rem;
      margin-bottom: .5rem;
    }
  }

  &-button {
    display: inline-block;
    margin: .25rem;
    padding: .5rem .75rem;
    background-color: #222;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
}

.builder {
  display: flex;

  .controls-group {
    flex: 1 1 50%;
    margin: 0 .5rem;
  }
}