@import 'base/normalize';

body {
  font-family: 'Helvetica-neue', 'Arial', sans-serif;
  background-color: black;
  color: #FF0;
}

.image-groups {
  display: flex;
  flex-wrap: wrap;
}

.image-group {
  // flex: 0 0 50%;
  // position: relative;
  // max-width: 50%;
  overflow: hidden;

  &--input {
    display: none;
  }

  &--output {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vh;
    max-width: none;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  &_title {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
  }
  
  canvas, video {
    width: 100%;
    transform: scale(-1) rotateX(180deg);
    // background-color: pink;
  }
}

.controls {
  &_container {
    display: none;
    padding: 1rem;
  }

  &-group {
    width: 40rem;
    max-width: 90%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;

    &_title {
      padding: .5rem .75rem;
      margin-bottom: .5rem;
    }
  }

  &-button {
    display: inline-block;
    margin: .25rem;
    padding: .5rem .75rem;
    background-color: #222;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
}