<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenCV Compose</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="controls_container">
    <div class="controls-group">
      <button class="controls-button ControlsPlay">play</button>
      <button class="controls-button ControlsPause">pause</button>
      <div class="status ControlsStatus"></div>
    </div>
    <div class="controls-group">
      <div class="controls-group_title">Compositions:</div>
      <div class="ControlsCompositionsContainer"></div>
    </div>

    <div class="controls-group controls-group--composer">
      <div class="controls-group_title">Build-a-Filter Workshop</div>
      <div class="composer Composer">
        <div class="controls-group">
          <div class="controls-group_title">Queue:</div>
          <ol class="composer_queue ComposerQueue"></ol>
        </div>
        <div class="controls-group">
          <div class="controls-group_title">Inventory:</div>
          <ul class="composer_inventory ComposerInventory"></ul>
        </div>   
      </div>
    </div>
  </div>
</body>
</html>